<!doctype html>
<html lang="en">
<head>
    @await Html.PartialAsync("CssPartial")

</head>
<body>
    <header>
        @await Html.PartialAsync("NavbarPartial")

    </header>
    <div class="header" id="page-wrapper">

        <div id="main">
            @RenderBody()
        </div>
        @await Html.PartialAsync("FooterPartial")
    </div>
    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>