<div class="d-flex flex-column min-vh-100">
    <nav>
    </nav>
    <main class="flex-fill">
    </main>
    <footer class="mt-auto" style="background:#F97300;">
        <div class="navbar-inner">
            <div class="container">
                <p class="text-center text-white lead">
                    Copyright &copy;
                    <script type="text/javascript">document.write(new Date().getFullYear());</script> АО "В-Сибпромтранс".
                </p>

            </div>
        </div>
    </footer>
    </div>
