@model Portal.Models.Identific.LoginViewModel
       
<div class="container p-0">
    <div class="row p-3">
        <div class="row">
            <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                <div>
                    <h2>Вход</h2>
                </div>
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <p>
                    </p>
                </div>
                <div class="p-3 border bg-light">
                    <div>
                        <label asp-for="Tab"></label><br />
                        <input asp-for="Tab" />
                        <span asp-validation-for="Tab"></span>
                    </div>
                    <div>
                        <label asp-for="Password"></label><br />
                        <input asp-for="Password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="">
                        <label asp-for="RememberMe"></label><br />
                        <input asp-for="RememberMe" />
                    </div>
                    <input class="btn-sm button_or" type="submit" value="Войти" />                   
                </div>
                    
            </form>
        </div>
    </div>
 </div>
