<body>
   
     <div class="container-fluid">
      
     </div>
        
    <div class="container">
        <div class="description ">
            <h1>
                Добро пожаловать в Административный раздел!
                <p>

                </p>
                <p>
                    для полноценной работы нужно зарегестироваться по кнопке Регистрация.
                    В качестве логина лучше всего использовать табельный номер.
                </p>
                <button class="btn btn-outline-secondary btn-lg">Подробнее..</button>
            </h1>
        </div>
    </div>
</body>




